Repository valehasadli/BlinkHub, changes with the labels that .github/labeler.yml gives for each.
All labels: test, feat, doc

.github/labeler.yml:

test: src/tests/*
feat: src/*
doc: docs/*

npm publish
  package.json
Labels: none

npm publish
  package.json
Labels: none

refactor: Organize type definitions into separate files under 'types' directory
  src/index.ts
  src/types/callback.ts
Labels: feat

Added Priority Handling in Emitter Tests:
  package.json
  src/index.ts
  src/tests/basicEvents.test.ts
  src/tests/emission.test.ts
  src/tests/mock.test.ts
  src/tests/priority.test.ts
  src/tests/subscription.test.ts
  src/tests/unsubscribeEvents.test.ts
  src/types/listener.ts
Labels: test, feat

doc updated
  README.md
Labels: none

sonarqube code coverage step added
  .github/workflows/sonarqube.yml
  yarn.lock
Labels: none

minor fix on doc
  README.md
Labels: none

version update
  package.json
Labels: none

doc update
  README.md
Labels: none

version update
  package.json
Labels: none

doc update for React developers
  README.md
  package.json
Labels: none

gitignore update|
  .gitignore
Labels: none

Update .gitignore
  .gitignore
Labels: none

doc: example react project reference added
  README.md
  package.json
Labels: none

feat: publish package to npm
  .github/workflows/npm-publish.yml
  package.json
Labels: none

Update README.md
  README.md
Labels: none

Update package.json
  package.json
Labels: none

Create SECURITY.md
  SECURITY.md
Labels: none

Update package.json
  package.json
Labels: none

Enhancements to BlinkHub Emitter & Updated Documentation
  README.md
  package.json
  src/index.ts
  src/tests/subscribeOnce.test.ts
Labels: test, feat

doc update
  README.md
Labels: none

test: unsubscribe removes listener
  src/tests/subscribeOnce.test.ts
Labels: test

test update
  src/tests/subscribeOnce.test.ts
Labels: test

style: readable callback
  src/index.ts
Labels: feat

babel security patch
  package.json
Labels: none

Create CODEOWNERS
  .github/CODEOWNERS
Labels: none

Create CODEOWNERS (#29)
  .github/CODEOWNERS
Labels: none

doc: priority reference updated
  README.md
  package.json
Labels: none

doc: priority reference updated (#30)
  README.md
  package.json
Labels: none

doc: priority reference updated (#30) (#31)
  README.md
  package.json
Labels: none

Implement Event Channeling in Emitter
  README.md
  package.json
  src/index.ts
  src/tests/channel.test.ts
Labels: test, feat

npm command added for run coverage script
  package.json
Labels: none

Implement Event Channeling in Emitter (#32)
  README.md
  package.json
  src/index.ts
  src/tests/channel.test.ts
Labels: test, feat

Feature Release: Implement Event Channeling in Emitter (#33)
  README.md
  package.json
  src/index.ts
  src/tests/channel.test.ts
Labels: test, feat

dependencies update
  package-lock.json
  package.json
Labels: none

chores: codeql
  .github/workflows/codeql-analysis.yml
Labels: none

chores: codeql remove
  .github/workflows/codeql-analysis.yml
Labels: none

version
  package.json
Labels: none

chores: dependencies updated
  package-lock.json
  package.json
Labels: none

chores: dependencies updated (#35)
  package-lock.json
  package.json
Labels: none
