Repository valehasadli/BlinkHub, changes with the labels that .github/labeler.yml gives for each.
All labels: test, feat, doc

.github/labeler.yml:

test: src/tests/*
feat: src/*
doc: docs/*

doc: update
  .gitignore
  README.md
  package.json
  yarn.lock
Labels: none

doc update (#36)
  .gitignore
  README.md
  package.json
  yarn.lock
Labels: none

doc & dependencies
  README.md
  package.json
  yarn.lock
Labels: none

doc & dependencies update (#37)
  README.md
  package.json
  yarn.lock
Labels: none

chores: doc & deps
  docs/test.md
  package.json
  yarn.lock
Labels: doc

chores: doc & deps
  package.json
Labels: none

chores: doc & deps update (#38)
  docs/test.md
  package.json
  yarn.lock
Labels: doc

Consolidate Jest configuration and fix module path alias resolution. Add listen to multiple events feature with subscribeAll method
  README.md
  package-lock.json
  package.json
  src/channels/Channel.ts
  src/channels/ChannelRegistry.ts
  src/core/Emitter.ts
  src/core/EventRegistry.ts
  src/index.ts
  src/types/Callback.ts
  src/types/IEvent.ts
  src/types/Listener.ts
  src/types/index.ts
  tests/channels/channel.test.ts
  tests/core/basicEvents.test.ts
  tests/core/emission.test.ts
  tests/core/priority.test.ts
  tests/core/subscribeList.test.ts
  tests/core/subscribeOnce.test.ts
  tests/core/subscription.test.ts
  tests/core/unsubscribeEvents.test.ts
  tsconfig.json
  yarn.lock
Labels: feat
